.App {
    display: flex;
    justify-content:space-around;
    border: 5px dotted darkgoldenrod;
    background-color:bisque;
    color: black;
    border-bottom: 5px solid rebeccapurple;
    padding: 1rem;
}

.photo {
  width: 300px;
  height: 300px;
  border-radius: 5px;
}

.card-body {
  padding: 0 1rem;
}

.desc {
  font-weight: bold;
  font-size: 15px;
}